In [1]:
import pandas as ps
from urllib.request import urlopen
import requests
url = "https://raw.githubusercontent.com/micybusy/sketch/main/charts.csv"
with urlopen(url) as f:
    content = ps.read_csv(url, encoding = "utf-8")
content["rankimportance"]=101-content["rank"]
content

,date,rank,song,artist,last-week,peak-rank,weeks-on-board,rankimportance
0,2021-11-06,1,Easy On Me,Adele,1.0,1,3,100
1,2021-11-06,2,Stay,The Kid LAROI & Justin Bieber,2.0,1,16,99
2,2021-11-06,3,Industry Baby,Lil Nas X & Jack Harlow,3.0,1,14,98
3,2021-11-06,4,Fancy Like,Walker Hayes,4.0,3,19,97
4,2021-11-06,5,Bad Habits,Ed Sheeran,5.0,2,18,96
...,...,...,...,...,...,...,...,...
330082,1958-08-04,96,Over And Over,Thurston Harris,NaN,96,1,5
330083,1958-08-04,97,I Believe In You,Robert & Johnny,NaN,97,1,4
330084,1958-08-04,98,Little Serenade,The Ames Brothers,NaN,98,1,3
330085,1958-08-04,99,I'll Get By (As Long As I Have You),Billy Williams,NaN,99,1,2
330086,1958-08-04,100,Judy,Frankie Vaughan,NaN,100,1,1

In [3]:
date=content['date'].str.split('-', expand=True)
date.rename(columns = {0:'year',1:'month',2:'day'}, inplace = True)
date["year"] = date.year.astype('int')
date["month"] = date.month.astype('int')
date["day"] = date.day.astype('int')
content["year"]=date["year"]
content["month"]=date["month"]
content.loc[(content["month"]>9),'year']=date['year']+1
a=content.loc[content["month"]==8]

In [4]:
content['sumimportance'] = content.groupby(["artist", "song",'year'])['rankimportance'].transform('sum')
content=content.sort_values("sumimportance", ascending = False)

In [5]:
content['rank_1']=0
content["rank_1"]=content["rank"].copy()
content["rank_1"]=content["rank_1"].apply(lambda x:  0 if x>1 else 1)
content['rank_1_sum'] = content.groupby(["artist", "song",'year'])['rank_1'].transform('sum')
content=content.sort_values("rank_1_sum", ascending = False)

In [6]:
table=ps.DataFrame(content.groupby(['year','song','artist','sumimportance','rank_1_sum']).size().reset_index().rename(columns={0:'count'}))
table['ratio']=table['sumimportance']/table['count']
table=table.sort_values("sumimportance", ascending = False)

In [7]:
tabledate=ps.DataFrame(content.groupby(['year',"date"]).size().reset_index().rename(columns={0:'count'}))
tabledate=tabledate.drop(["count"],axis=1)
tabledatex=ps.DataFrame(tabledate.groupby(['year']).size().reset_index().rename(columns={0:'yeartotalweek'}))

In [8]:
tabledate["week"]=0
b=0

for i in range(65):
    a=tabledatex.iloc[i,1]
    for j in range(a):
         tabledate.iloc[j+b,2]=j+1
    b=b+a

In [9]:
tabledate=tabledate.drop(["year"],axis=1)
content=content.merge(tabledate,on=['date'], how='left')
content=content.merge(tabledatex,on=['year'], how='left')

In [10]:
content=content.sort_values(["date","rank"], ascending = True)

In [11]:
content["first_test"] = content.groupby(['year','song','artist'])["week"].transform("first")

In [12]:
table=ps.DataFrame(content.groupby(['year','song','artist','sumimportance','rank_1_sum','yeartotalweek','first_test']).size().reset_index().rename(columns={0:'count'}))
table["debut"]=table["yeartotalweek"]-table["first_test"]+1
table['ratio']=table['sumimportance']/table['debut']
table=table.sort_values("ratio", ascending = False)

In [13]:
def gettables(y, lines):
    tablex=table.loc[table["year"]==y]
    tablex=tablex.sort_values("ratio", ascending = False)
    tabley=tablex.sort_values("sumimportance", ascending = False)
    tablez = tablex.sort_values("rank_1_sum", ascending = False)
    tablex = tablex.reset_index();
    tabley = tabley.reset_index();
    tablez = tablez.reset_index();
    return {"ratio":tablex[:lines], "sumimp":tabley[:lines], "sum1": tablez[:lines]}

In [14]:
def assert_weight(year, lines):
    tablo = gettables(year, lines)["ratio"]
    tablo1 = gettables(year, lines)["sumimp"]
    tablo2 = gettables(year, lines)["sum1"]
    tablo["value"] = 0
    tablo1["value"] = 0
    tablo2["value"] = 0
    tablo
    for i in range(len(tablo)):
        tablo["value"][i] = len(tablo) - i
        tablo1["value"][i] = len(tablo) - i
        tablo2["value"][i] = len(tablo) - i
        
    tablo["value"]=ps.to_numeric(tablo["value"])
    tablo["value"] = tablo["value"]*0.25
    tablo1["value"]=ps.to_numeric(tablo1["value"])
    tablo1["value"] = tablo1["value"]*0.55
    tablo2["value"]=ps.to_numeric(tablo2["value"])
    tablo2["value"] = tablo2["value"]*0.2
    
    return {"ratio":tablo[:lines], "sumimp":tablo1[:lines], "sum1": tablo2[:lines]}

In [15]:
def sum_weight(year, lines):
    tables = assert_weight(year, lines)
    [tablo, tablo1, tablo2] = [tables["ratio"], tables["sumimp"], tables["sum1"]]
    evaluate = gettables(year, lines)["sumimp"]
    evaluate = evaluate.sort_values(by = "sumimportance", ascending = False)
    evaluate["weight"] = float(0)
    for i in range(len(evaluate)):
        for j in range(len(tablo)):
            if evaluate["song"][i] == tablo["song"][j]:
                evaluate["weight"][i] += float(tablo["value"][j])
        for k in range(len(tablo1)):
            if evaluate["song"][i] == tablo1["song"][k]:
                evaluate["weight"][i] += float(tablo1["value"][k])
        for l in range(len(tablo2)):
            if evaluate["song"][i] == tablo2["song"][l]:
                evaluate["weight"][i] += float(tablo2["value"][l])
    evaluate = evaluate.reset_index(drop = True)
    return evaluate[:lines]

In [16]:
def weight_sort(year, lines):
    evaluate = sum_weight(year,lines)
    evaluate = evaluate.sort_values(by = "weight", ascending = False)
    evaluate = evaluate.reset_index(drop = True)
    return evaluate

In [17]:
link = "https://raw.githubusercontent.com/micybusy/sketch/main/grammies.csv"
with urlopen(link) as f:
    grammies = ps.read_csv(f, encoding = "utf-8")
grammies = grammies.to_dict()
grammies_fix = {"year": grammies["Year[I]"], "song": grammies["Record"], "artist": grammies["Artist(s)"]}
grammies = ps.DataFrame(grammies_fix)

In [18]:
def annual_nominee(x):
    new_df = []
    for i in range(len(grammies)):
        if grammies.iloc[i][0] == x:
            new_df.append(grammies.iloc[i])
    new_df = ps.DataFrame(new_df)
    new_df = new_df.reset_index(drop = True)
    return new_df

In [19]:
def compare(x, lines):
    grammy_nominees = annual_nominee(x)
    annual_success = weight_sort(x-1, lines)
    a = 0
    for i in range(lines):
        if annual_success["song"][i] in list(grammy_nominees["song"]):
            a+=1
        
    percentage = (a/(len(grammy_nominees)))*100
    return percentage

In [29]:
%%capture --no-display
compare(2001,50)

60.0